@model  PagedList.IPagedList<WebApplication1.Models.PremioNobel>
   @using PagedList.Mvc

@{
    ViewBag.Title = " Nobel Prizes - Index";
}


<div class="page-header">
    <div class="row">
        <div class="col-lg-7"><h2>@ViewBag.Title</h2></div>
        <div class="col-lg-5">
            @using (Html.BeginForm("Index", "PremioNobels", new { page = 1 }, FormMethod.Get))
            {

                <div class="form-horizontal">
                    <div class="input-group">
                        @Html.TextBox("searchStr",null,new { @class="form-control"})
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="fa fa-search"></i>

                            </button>
                            <a class="btn btn-default" href="@Url.Action("Index","PremioNobels")">
                                <i class="fa fa-trash"></i>
                            </a>
                        </span>

                    </div>
                </div>
            }
        </div>
    </div>


</div>
@if (Model.PageCount > 1)
{
    <div class="pager-left-container">
        @Html.Raw(String.Format("Página: {0:N0} de {1:N0}", (Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), Model.PageCount))<br />
        Entradas:@Html.Raw(String.Format("Página: {0:N0}-{1:N0} de {2:N0}", (Model.PageNumber - 1) * Model.PageSize + 1, (Model.TotalItemCount > Model.PageNumber * Model.PageSize ? Model.PageNumber * Model.PageSize : Model.TotalItemCount), Model.TotalItemCount))

    </div>

   <div class="pager-right-container">

       @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, searchStr = ViewBag.searchStr }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
   </div>
<div class="clearfix"></div>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
 
    <tr>
        <th class="col-lg-1">
            Year
        </th>
        <th class="col-lg-3">
            Title
        </th>
       
        <th class="col-lg-5">
            Motivation
        </th>
        <th class="col-lg-1">
            Name
        </th>
        <th></th>
    </tr>
   

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Motivacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Nome)
        </td>
        <td>
            <div class="btn-group">
                <a href="@Url.Action("Edit", new { id = item.PremioNobelId })" class="btn btn-default" title="Edit"><i class="fa fa-pencil"></i></a>
                <a href="@Url.Action("Details", new { id = item.PremioNobelId })" class="btn btn-default" title="Details"><i class="fa fa-search"></i></a>
                <a href="@Url.Action("Delete", new { id = item.PremioNobelId })" class="btn btn-default" title="Delete"><i class="fa fa-trash-o"></i></a>
            </div>

        </td>
    </tr>
}

</table>
